button {
    width: 200px;
    height: 66px;
    border: 2px solid rgba(255,0,0,0.5);
    border-radius: 15px;
    font-family: serif;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: red;
    background: url(../images/logo11w.png) no-repeat green;
}
